/**
 File contains color variables and classes
 Files can be imported directly in styles.scss wherever required.
*/

:export {
    black: #000000;
    grey: #757575;
    white: #FFFFFF;
    whitesmoke:#f5f5f5;
    lightBlue: #E8F2FF;
    
    font:Helvetica;
  }
  